*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  display: flex;
}

.center{
  justify-content: center;
  margin: 20px auto 10px;
}

.softlink {
  text-decoration: none;
}



/* regole jt */
#jt {
  background-image: url("../img/jumbo.svg");
}

.jumbo {
  display: flex;
  flex-direction: column;
}

.title{
  display: inline-block;
  flex-grow: 2;
}

.iscrizione {
  flex-grow: 1;
}

#jt h1, #jt p {
  display: inline-block;
}


/* regole businesses */
#businesses {
  background-color: lightgray;
}

.grid-list {
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  flex-wrap: wrap;
}

/* regole seamlessly */
#seamlessly {
  display: flex;
}

#seamlessly .row.titolo {
  text-align: center;
}
